<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>編集画面</p>
    <form action="/edit?id=<%= content.id%>" method="POST">
      <label ></label>
      <textarea type="text" name="task" value="<%= content.content %>"> </textarea>
      <input type="hidden" name="taskId" value="<%= content.id %>">
      <button type="submit">タスク内容更新</button>
    </form>
    <div role="main"> 
        <form method="POST" action="/delete">
            <input type="hidden" name="id" value="<%= content.id%>">
            <p><input type="submit" value="削除"></p>
        </form>
        <a href="/">ホームへ戻る</a>
    </div>
  </body>
</html>
