<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <script type="text/javascript" src="/static/javascripts/form.js"></script>
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/add" method="POST">
      <label for="newTaskData">新たなタスク</label>
      <input type="text" name="newTask" > 
      <input type="submit" value="タスク作成" onclick="return checkForm();">
    </form>
    <div role="main">  
      <table>
        <% for(var i in content){ %>
          <tr>
            <% var obj = content[i]; %>
            <th><%= obj.content %></th>
            <th>作成日時：<%= obj.startTime %></th>
            <th>経過時間：<%= '後で実装する' %></th>
            <th>
              <form method="GET" action="/edit">
                <input type="hidden" name="id" value="<%= obj.id%>">
                <p><input type="submit" value="編集"></p>
              </form>
            </th>
            <th>
             <form method="POST" action="/delete">
              <input type="hidden" name="id" value="<%= obj.id%>">
              <p><input type="submit" value="削除"></p>
            </form>
              </th>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
